<div class="roll-result">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p><strong>Results:</strong> {{diceResults}}</p>
  {{#if total}}
    <p><strong>Total:</strong> {{total}}</p>
  {{/if}}
</div>
