<div class="custom-chat-card">
    <header class="card-header">
        {{!-- <h3>{{title}}</h3>
        <small>by {{author}}</small> --}}
    </header>
    <div class="card-content">
        <p>{{message}}</p>
    </div>
</div>
